<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource">
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> Id</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="username">
      <mat-header-cell *matHeaderCellDef> Username</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.username}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="salary">
      <mat-header-cell *matHeaderCellDef> Salary</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.salary}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="age">
      <mat-header-cell *matHeaderCellDef> Age</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.age}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
